@import './base.css';

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

main {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.description {
  padding: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .description {
    padding: 0 2rem;
  }
}
